@model RecaudaSoft.Models.Acreedor

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar acreedor</h2>

<h3>¿Estás seguro que deseas eliminar este acreedor?</h3>
<fieldset>
    <legend>Acreedor</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.idAcreedor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idAcreedor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.razonSocial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.razonSocial)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.ruc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ruc)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.direccion)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.rubro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.telefono)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.telefono)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
