@model IEnumerable<RecaudaSoft.Models.Acreedor>

@{
    ViewBag.Title = "Index";
}

<h2>Acreedores</h2>

<p>
    @Html.ActionLink("Nuevo acreedor", "Create")
</p>
<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            ID
        </th>
        <th>
            Nombre
        </th>
        <th>
            Razón Social
        </th>
        <th>
            RUC
        </th>
        <th>
            Dirección
        </th>
        <th>
            Rubro
        </th>
        <th>
            Teléfono
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idAcreedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.razonSocial)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ruc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.rubro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            <a href = "/Acreedores/Edit?id=@item.idAcreedor"><img border="0" src="@Href("~/Content/Images/edit.jpg")"></a>
            <a href = "/Acreedores/Delete?id=@item.idAcreedor"><img border="0" src="@Href("~/Content/Images/delete.jpg")"></a>
            <a href = "/Acreedores/Details?id=@item.idAcreedor"><img border="0" src="@Href("~/Content/Images/ojo_jpg.jpg")"></a>
        </td>
    </tr>
}

</table>
