@model IEnumerable<RecaudaSoft.Models.Cartera>

@{
    ViewBag.Title = "Index";
}

<h2>Carteras</h2>

<p>
    @Html.ActionLink("Registrar nueva cartera", "Create")
</p>
<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            ID
        </th>
        <th>
            ID Acreedor
        </th>
        <th>
            Nombre
        </th>
        <th>
            Tipo
        </th>
        <th>
            Porcentaje ganancia
        </th>
        <th>
            Detalles
        </th>
        <th>
            Cantidad de Deudas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCartera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAcreedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esVencida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeGanancia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadDeudas)
        </td>
        <td>
            <a href = "/TiposActividad/Edit?id=@item.idCartera"><img border="0" src="@Href("~/Content/Images/edit.jpg")"></a>
            <a href = "/TiposActividad/Delete?id=@item.idCartera"><img border="0" src="@Href("~/Content/Images/delete.jpg")"></a>
            <a href = "/TiposActividad/Details?id=@item.idCartera"><img border="0" src="@Href("~/Content/Images/ojo_jpg.jpg")"></a>
        </td>
    </tr>
}

</table>
