@model IEnumerable<RecaudaSoft.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

<h2>Usuarios</h2>

<p>
    @Html.ActionLink("Registrar nuevo usuario", "Create")
</p>
<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            Id
        </th>
        <th>
            Id Acreedor
        </th>
        <th>
            Id Gestor
        </th>
        <th>
            Id Rol
        </th>
        <th>
            Nombre usuario
        </th>
        <th>
            Contraseña
        </th>
        <th>
            Tipo
        </th>
        <th>
            Estado
        </th>
        <th>
            Correo electrónico
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idAcreedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGestor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombreUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contrasena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoUsuario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            <a href = "/Usuarios/Edit?id=@item.idUsuario"><img border="0" src="@Href("~/Content/Images/edit.jpg")"></a>
            <a href = "/Usuarios/Delete?id=@item.idUsuario"><img border="0" src="@Href("~/Content/Images/delete.jpg")"></a>
            <a href = "/Usuarios/Details?id=@item.idUsuario"><img border="0" src="@Href("~/Content/Images/ojo_jpg.jpg")"></a>
        </td>
    </tr>
}

</table>
