@model RecaudaSoft.ViewModels.ModeloAsignacion

@{
    ViewBag.Title = "Index";
}

<h2>Asignación de deudas</h2>

<h2>Elección de Carteras</h2>

<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            @Html.CheckBox("Todos")
        </th>
        <th>
            Id
        </th>
        <th>
            Id Acreedor
        </th>
        <th>
            Nombre
        </th>
        <th>
            Tipo
        </th>
        <th>
            Porcentaje de ganancia
        </th>
        <th>
            Detalles
        </th>
        <th>
            Cantidad de Deudas
        </th>
    </tr>

@foreach (var item in Model.carteras) {
    <tr>
        <td>
            @Html.EditorFor(modelItem => item.Checked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idCartera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acreedor.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeGanancia)%
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadDeudas)
        </td>
    </tr>
}

</table>


<h2>Elección de Gestores</h2>

<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            @Html.CheckBox("Todos")
        </th>
        <th>
            Id
        </th>
        <th>
            Nivel Gestor
        </th>
        <th>
            Tipo Gestor
        </th>
        <th>
            Nombres
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
            Fecha de Ingreso
        </th>
        <th>
            Deudas recuperadas
        </th>
        <th>
            Disponible
        </th>
        <th>
            Tipo de documento
        </th>
        <th>
            Número de documento
        </th>
    </tr>

@foreach (var item in Model.gestores) {
    <tr>
        <td>
            @Html.EditorFor(modelItem => item.Checked)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idGestor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro2.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoPaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.apellidoMaterno)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaIngreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deudasRecuperadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.disponible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro1.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.numeroDocumento)
        </td>
    </tr>
}

</table>

<p>
    <input type="button" value="Asignar" onclick="location.href='@Url.Action("AsignarTareas", "AsignacionDeudas", Model)'" />
</p>