@model IEnumerable<RecaudaSoft.Models.Cartera>

@{
    ViewBag.Title = "Index";
}

<h2>Cargar cartera de deudas</h2>

<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            Id
        </th>
        <th>
            Id Acreedor
        </th>
        <th>
            Nombre
        </th>
        <th>
            Tipo
        </th>
        <th>
            Porcentaje ganancia
        </th>
        <th>
            Detalles
        </th>
        <th>
            Cantidad de Deudas
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCartera)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Acreedor.nombre)
        </td>
        <td>
            <a href = "/CargaCarteras/SubirArchivo?id=@item.idCartera">@Html.DisplayFor(modelItem => item.nombre)</a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.porcentajeGanancia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.detalles)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadDeudas)
        </td>
    </tr>
}

</table>
