@model RecaudaSoft.ViewModels.FiltroReporteDesempenioGestores

@{
    ViewBag.Title = "Index";
}

<h2>Generar Reporte de Desempeño de Gestores</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Filtros del Reporte</legend>

        <div class="editor-label">
            Id Gestor
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idGestor)
        </div>

        <div class="editor-label">
            Tipo documento
        </div>
        <div class="editor-field">
            @Html.DropDownList("tipoDocumento", "Seleccione")
        </div>

        <div class="editor-label">
            Número documento
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numeroDocumento)
        </div>

        <div class="editor-label">
            Nivel Gestor
        </div>
        <div class="editor-field">
            @Html.DropDownList("idNivelGestor", "Seleccione")
        </div>

        <div class="editor-label">
            Tipo Gestor
        </div>
        <div class="editor-field">
            @Html.DropDownList("idTipoGestor", "Seleccione")
        </div>

        <div class="editor-label">
            Nombre
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombreGestor)
        </div>

        <div class="editor-label">
            Apellido paterno
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellidoPaternoGestor)
        </div>

        <div class="editor-label">
            Apellido Materno
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.apellidoMaternoGestor)
        </div>

        <p>
            <input type="submit" value="Generar" />
        </p>
    </fieldset>
}