@model IEnumerable<RecaudaSoft.Models.Deuda>

@{
    ViewBag.Title = "Index";
}

<h2>Registrar avance</h2>

<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            Id
        </th>
        <th>
            Deudor
        </th>
        <th>
            Producto deuda
        </th>
        <th>
            Cartera
        </th>
        <th>
            Monto
        </th>
        <th>
            Fecha inicio
        </th>
        <th>
            Tipo
        </th>
        <th>
            Dificultad
        </th>
        <th>
            Pagada
        </th>
        <th>
            Monto pagado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idDeuda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deudor.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro1.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cartera.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parametro.valor) @Html.DisplayFor(modelItem => item.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.esCuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dificultad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pagada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.montoPagado)
        </td>
        <td>
            @Html.ActionLink("Detalle", "Details", new { id=item.idDeuda })
        </td>
    </tr>
}

</table>
