@model RecaudaSoft.Models.Actividad

@{
    ViewBag.Title = "RegistrarActividad";
}

<h2>Registrar Actividad</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Actividad</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.idActividad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idActividad)
            @Html.ValidationMessageFor(model => model.idActividad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idTipoActividad)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idTipoActividad)
            @Html.ValidationMessageFor(model => model.idTipoActividad)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idGestor)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idGestor)
            @Html.ValidationMessageFor(model => model.idGestor)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.idResultado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.idResultado)
            @Html.ValidationMessageFor(model => model.idResultado)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.fecha)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.fecha)
            @Html.ValidationMessageFor(model => model.fecha)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.detalles)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.detalles)
            @Html.ValidationMessageFor(model => model.detalles)
        </div>

        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
