@model RecaudaSoft.Models.Rol

@{
    ViewBag.Title = "Create";
}

<h2>Nuevo rol</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#navigation ul a').click(function () {
            $('#navigation ul a').removeClass('selected');
            $(this).addClass('selected');
            $('#content_changer').html('You have selected ' + $(this).html());
        });
    });
</script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Rol</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nombre)
            @Html.ValidationMessageFor(model => model.nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.descripcion)
            @Html.ValidationMessageFor(model => model.descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.estado)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.estado)
            @Html.ValidationMessageFor(model => model.estado)
        </div>

        <p>
            <input type="submit" value="Registrar" />
        </p>
    </fieldset>
    
    <h2>Permisos de acceso</h2>
    
    <fieldset>
        <legend>Permisos por módulo</legend>
        <ul id="navigation">
		        <li><a href="javascript:void(0);" id="tab1" class="selected">Tab 1</a></li>
		        <li><a href="javascript:void(0);" id="tab2">Tab 2</a></li>
		        <li><a href="javascript:void(0);" id="tab3">Tab 3</a></li>
		        <li><a href="javascript:void(0);" id="tab4">Tab 4</a></li>
		        <li><a href="javascript:void(0);" id="tab5">Tab 5</a></li>
	    </ul>

        <div id="content">
	        <p id="content_changer">You have selected Tab 1</p>
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>

