@model RecaudaSoft.Models.Rol

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar rol</h2>

<h3>¿Estás seguro que deseas eliminar esta rol?</h3>
<fieldset>
    <legend>Rol</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.idRol)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idRol)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.estado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.estado)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
