@model IEnumerable<RecaudaSoft.Models.Rol>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            idRol
        </th>
        <th>
            nombre
        </th>
        <th>
            descripcion
        </th>
        <th>
            estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idRol }) |
            @Html.ActionLink("Details", "Details", new { id=item.idRol }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.idRol })
        </td>
    </tr>
}

</table>
