@model RecaudaSoft.Models.TipoActividad

@{
    ViewBag.Title = "Delete";
}

<h2>Elimimar Tipo de actividad de cobro</h2>

<h3>¿Estás seguro que deseas eliminar este tipo de actividad?</h3>
<fieldset>
    <legend>Tipo de Actividad</legend>


    <div class="editor-label">
        @Html.LabelFor(model => model.idTipoActividad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idTipoActividad)
    </div>

    
    <div class="editor-label">
        @Html.LabelFor(model => model.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombre)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.descripcion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.descripcion)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
