@model IEnumerable<RecaudaSoft.Models.Parametro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            idParametro
        </th>
        <th>
            tipo
        </th>
        <th>
            valor
        </th>
        <th>
            valorNum
        </th>
        <th>
            idPadre
        </th>
        <th>
            codUnico
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idParametro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.idPadre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.codUnico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.idParametro }) |
            @Html.ActionLink("Details", "Details", new { id=item.idParametro}) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idParametro })
        </td>
    </tr>
}

</table>
