@model IEnumerable<RecaudaSoft.Models.TipoActividad>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de actividad de cobro</h2>

<p>
    @Html.ActionLink("Registrar nuevo tipo de actividad", "Create")
</p>
<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nombre
        </th>
        <th>
            Descripción
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idTipoActividad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            <a href = "/TiposActividad/Edit?id=@item.idTipoActividad"><img border="0" src="@Href("~/Content/Images/edit.jpg")"></a>
            <a href = "/TiposActividad/Delete?id=@item.idTipoActividad"><img border="0" src="@Href("~/Content/Images/delete.jpg")"></a>
            <a href = "/TiposActividad/Details?id=@item.idTipoActividad"><img border="0" src="@Href("~/Content/Images/ojo_jpg.jpg")"></a>
        </td>
    </tr>
}

</table>
