@model IEnumerable<RecaudaSoft.Models.Parametro>

@{
    ViewBag.Title = "Index";
}

<h2>Tipos de Actividad de Cobro</h2>

<p>
    @Html.ActionLink("Registrar nuevo", "Create")
</p>
<table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th style="font-weight: bold; width: 100px;" align="center">
            ID
        </th>
        <th style="font-weight: bold; width: 150px;" align="center">
            Tipo
        </th>
        <th style="font-weight: bold; width: 150px;" align="center">
            Valor
        </th>
        <th style="font-weight: bold; width: 100px;" align="center">
            Valor Núm.
        </th>
        <th style="font-weight: bold; width: 100px;" align="center">
            ID padre
        </th>
        <th style="font-weight: bold; width: 100px;" align="center">
            ID único
        </th>
        <th style="font-weight: bold; width: 50px;" align="center">
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td align="center">
            @Html.DisplayFor(modelItem => item.idParametro)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.valor)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.valorNum)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.idPadre)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.codUnico)
        </td>
        <td>
            <a href = "/TiposActividad/Edit?id=@item.idParametro"><img border="0" src="@Href("~/Content/Images/edit.jpg")"></a>
            <a href = "/TiposActividad/Delete?id=@item.idParametro"><img border="0" src="@Href("~/Content/Images/delete.jpg")"></a>
            <a href = "/TiposActividad/Details?id=@item.idParametro"><img border="0" src="@Href("~/Content/Images/ojo_jpg.jpg")"></a>
        </td>
    </tr>
}

</table>
