@model RecaudaSoft.Models.Gestor

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Gestor</legend>

    <div class="display-label">idGestor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idGestor)
    </div>

    <div class="display-label">idNivelGestor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idNivelGestor)
    </div>

    <div class="display-label">idTipoGestor</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idTipoGestor)
    </div>

    <div class="display-label">nombres</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombres)
    </div>

    <div class="display-label">apellidoPaterno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidoPaterno)
    </div>

    <div class="display-label">apellidoMaterno</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidoMaterno)
    </div>

    <div class="display-label">fechaIngreso</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaIngreso)
    </div>

    <div class="display-label">deudasRecuperadas</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deudasRecuperadas)
    </div>

    <div class="display-label">disponible</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.disponible)
    </div>

    <div class="display-label">tipoDocumento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.tipoDocumento)
    </div>

    <div class="display-label">numeroDocumento</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numeroDocumento)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
