@model RecaudaSoft.Models.Gestor

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar colaborador</h2>

<h3>¿Estás seguro que deseas eliminar este colaborador?</h3>
<fieldset>
    <legend>Colabodrador</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.idGestor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idGestor)
    </div>

     <div class="display-label">
        @Html.LabelFor(model => model.Parametro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro.valor)
    </div>

     <div class="display-label">
        @Html.LabelFor(model => model.Parametro2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro2.valor)
    </div>

     <div class="display-label">
        @Html.LabelFor(model => model.nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombres)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.apellidoPaterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidoPaterno)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.apellidoMaterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidoMaterno)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.fechaIngreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaIngreso)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.deudasRecuperadas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deudasRecuperadas)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.disponible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.disponible)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Parametro1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro1.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.numeroDocumento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numeroDocumento)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Elminar" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}
