@model RecaudaSoft.Models.Deuda

@{
    ViewBag.Title = "DetallarDeuda";
}

<h2>Información de la deuda</h2>

<fieldset>
    <legend>Deuda</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.idDeuda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDeuda)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.idProducto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro1.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.idCartera)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idCartera)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.monto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.monto)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.fechaInicio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaInicio)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.moneda)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.esCuota)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.esCuota)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.dificultad)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dificultad)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.pagada)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pagada)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.montoPagado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.montoPagado)
    </div>
</fieldset>
<fieldset>
    <legend>Deudor</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.idDeudor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idDeudor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.nombres)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.apellidoPaterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.apellidoPaterno)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.apellidoMaterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.apellidoMaterno)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.tipoDocumento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.Parametro2.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.numeroDocumento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.numeroDocumento)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.telefonoPersonal)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.telefonoPersonal)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.telefonoDomicilio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.telefonoDomicilio)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.telefonoTrabajo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.telefonoTrabajo)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.correo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.correo)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.direccion)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.poseeTrabajo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.poseeTrabajo)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.fechaNacimiento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.fechaNacimiento)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.numeroTotalDeudas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.numeroTotalDeudas)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.totalAdeudado)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.totalAdeudado)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.estadoCivil)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.Parametro.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.numeroHijos)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.numeroHijos)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.sexo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.Parametro1.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.Deudor.detalles)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Deudor.detalles)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
