@model RecaudaSoft.Models.Gestor

@{
    ViewBag.Title = "DetallarGestor";
}

<h2>Información del Gestor</h2>

<fieldset>
    <legend>Gestor</legend>

    <div class="display-label">
        @Html.LabelFor(model => model.idGestor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.idGestor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.idNivelGestor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.idTipoGestor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro2.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.nombres)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.nombres)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.apellidoPaterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidoPaterno)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.apellidoMaterno)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.apellidoMaterno)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.fechaIngreso)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.fechaIngreso)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.deudasRecuperadas)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.deudasRecuperadas)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.disponible)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.disponible)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.tipoDocumento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Parametro1.valor)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.numeroDocumento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.numeroDocumento)
    </div>

    <div class="display-label">
        @Html.LabelFor(model => model.potencial)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.potencial)
    </div>

    <h2>Deudas</h2>

    <table id="MainContent_Table2" rules="all" style="border-color: Gray; width: 900px; margin-bottom: 0px;" border="1">
    <tr>
        <th>
            Id
        </th>
        <th>
            Deudor
        </th>
        <th>
            Producto deuda
        </th>
        <th>
            Cartera
        </th>
        <th>
            Monto
        </th>
        <th>
            Fecha inicio
        </th>
        <th>
            Tipo
        </th>
        <th>
            Dificultad
        </th>
        <th>
            Pagada
        </th>
        <th>
            Monto pagado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.GestorXDeudas)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.idDeuda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.Deudor.nombres)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.Parametro1.valor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.Cartera.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.Parametro.valor) @Html.DisplayFor(modelItem => item.Deuda.monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.esCuota)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.dificultad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.pagada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Deuda.montoPagado)
        </td>
        <td>
            @Html.ActionLink("Detalle", "DetallarDeuda", new { idDeuda = item.Deuda.idDeuda })
        </td>
    </tr>
}
</fieldset>
<p>
    @Html.ActionLink("Regresar", "Index")
</p>
